In [77]:
import pandas as pd

In [78]:
people = {
    "first name": ["Corey", "Jane", "John"],
    "last name": ["Schafer", "Doe", "Doe"],
    "email": ["corey@gmail.com", "Jane@gmail.com", "john@gmail.com"]
}

In [79]:
df = pd.DataFrame(people)
df.index = range(1, len(df) + 1)
df

  first name last name            email
1      Corey   Schafer  corey@gmail.com
2       Jane       Doe   Jane@gmail.com
3       John       Doe   john@gmail.com

In [80]:
df.set_index("email", inplace=True)
df

                first name last name
email
corey@gmail.com      Corey   Schafer
Jane@gmail.com        Jane       Doe
john@gmail.com        John       Doe

In [81]:
df.index

Index(['corey@gmail.com', 'Jane@gmail.com', 'john@gmail.com'], dtype='object', name='email')

In [82]:
df.loc['corey@gmail.com', 'last name']

'Schafer'

In [83]:
df.iloc[1]

first name    Jane
last name      Doe
Name: Jane@gmail.com, dtype: object

In [84]:
df.reset_index(inplace=True)

In [85]:
df

             email first name last name
0  corey@gmail.com      Corey   Schafer
1   Jane@gmail.com       Jane       Doe
2   john@gmail.com       John       Doe

In [86]:
df.index = range(1, len(df) + 1)
df

             email first name last name
1  corey@gmail.com      Corey   Schafer
2   Jane@gmail.com       Jane       Doe
3   john@gmail.com       John       Doe

In [87]:
df1 = pd.read_csv('survey_results_schema.csv', index_col='qid')
df1

,qname,question,force_resp,type,selector
qid,,,,,
QID2,MainBranch,Which of the following options best describes ...,True,MC,SAVR
QID127,Age,What is your age?*,True,MC,SAVR
QID296,Employment,Which of the following best describes your cur...,True,MC,MAVR
QID308,RemoteWork,Which best describes your current work situation?,False,MC,SAVR
QID341,Check,Just checking to make sure you are paying atte...,True,MC,SAVR
...,...,...,...,...,...
QID337,JobSatPoints_7,"Learning and using new technology, including p...",NaN,MC,MAVR
QID337,JobSatPoints_8,"Designing and building environments, databases...",NaN,MC,MAVR
QID337,JobSatPoints_9,"Being a power user of a tool, developer langua...",NaN,MC,MAVR
QID337,JobSatPoints_10,Working with new and/or top-quality hardware,NaN,MC,MAVR
QID337,JobSatPoints_11,A well-staffed/sourced internal network that m...,NaN,MC,MAVR

In [88]:
df1.head(5)

,qname,question,force_resp,type,selector
qid,,,,,
QID2,MainBranch,Which of the following options best describes ...,True,MC,SAVR
QID127,Age,What is your age?*,True,MC,SAVR
QID296,Employment,Which of the following best describes your cur...,True,MC,MAVR
QID308,RemoteWork,Which best describes your current work situation?,False,MC,SAVR
QID341,Check,Just checking to make sure you are paying atte...,True,MC,SAVR

In [89]:
# filtering 
df

             email first name last name
1  corey@gmail.com      Corey   Schafer
2   Jane@gmail.com       Jane       Doe
3   john@gmail.com       John       Doe

In [90]:
# filters
df['last name'] == 'Doe'

1    False
2     True
3     True
Name: last name, dtype: bool

In [91]:
df['email'] == 'corey@gmail.com'

1     True
2    False
3    False
Name: email, dtype: bool

In [92]:
filt = (df['last name'] == 'Doe')
filt

1    False
2     True
3     True
Name: last name, dtype: bool

In [93]:
df[filt]

            email first name last name
2  Jane@gmail.com       Jane       Doe
3  john@gmail.com       John       Doe

In [94]:
df.loc[filt]

            email first name last name
2  Jane@gmail.com       Jane       Doe
3  john@gmail.com       John       Doe

In [95]:
df.loc[filt, 'email']

2    Jane@gmail.com
3    john@gmail.com
Name: email, dtype: object