In [1]:
import pandas as pd

In [2]:
people = {
    "first": ["Corey", "Jane", "John"],
    "last": ["Schafer", "Doe", "Doe"],
    "email": ["corey@gmail.com", "Jane@gmail.com", "john@gmail.com"]
}

In [5]:
df = pd.DataFrame(people)
df.index = range(1, len(df) + 1)
df

   first     last            email
1  Corey  Schafer  corey@gmail.com
2   Jane      Doe   Jane@gmail.com
3   John      Doe   john@gmail.com