In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('survey_results_schema.csv')
df.head()

,qid,qname,question,force_resp,type,selector
0,QID2,MainBranch,Which of the following options best describes ...,True,MC,SAVR
1,QID127,Age,What is your age?*,True,MC,SAVR
2,QID296,Employment,Which of the following best describes your cur...,True,MC,MAVR
3,QID308,RemoteWork,Which best describes your current work situation?,False,MC,SAVR
4,QID341,Check,Just checking to make sure you are paying atte...,True,MC,SAVR

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   qid         87 non-null     object
 1   qname       87 non-null     object
 2   question    87 non-null     object
 3   force_resp  66 non-null     object
 4   type        87 non-null     object
 5   selector    87 non-null     object
dtypes: object(6)
memory usage: 4.2+ KB

In [9]:
df.shape

(87, 6)

In [11]:
# DataFrame basic
person={
    'first':'Corey',
    'second':'Schafer',
    'email': 'dfhdkh@gmail.com'
}

In [18]:
people ={
    'first Name':['Corey',  'Jane', 'John'],
    'second Name':['Schafer', 'Doe', 'Doe'],
    'email': ['corey@gmail.com','jane@gmail.com', 'doe@gmail.com']
}

In [19]:
people['email']

['corey@gmail.com', 'jane@gmail.com', 'doe@gmail.com']

In [24]:
people_data = pd.DataFrame(people)
people_data.index = range(1, len(people_data)+1)
people_data

  first Name second Name            email
1      Corey     Schafer  corey@gmail.com
2       Jane         Doe   jane@gmail.com
3       John         Doe    doe@gmail.com

In [25]:
people_data['email']

1    corey@gmail.com
2     jane@gmail.com
3      doe@gmail.com
Name: email, dtype: object

In [26]:
people_data['first Name']

1    Corey
2     Jane
3     John
Name: first Name, dtype: object

In [27]:
people_data[['first Name', 'email']]

  first Name            email
1      Corey  corey@gmail.com
2       Jane   jane@gmail.com
3       John    doe@gmail.com