In [25]:
import pandas as pd

In [26]:
df = pd.read_csv('survey_results_schema.csv')
df.head()

,qid,qname,question,force_resp,type,selector
0,QID2,MainBranch,Which of the following options best describes ...,True,MC,SAVR
1,QID127,Age,What is your age?*,True,MC,SAVR
2,QID296,Employment,Which of the following best describes your cur...,True,MC,MAVR
3,QID308,RemoteWork,Which best describes your current work situation?,False,MC,SAVR
4,QID341,Check,Just checking to make sure you are paying atte...,True,MC,SAVR

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   qid         87 non-null     object
 1   qname       87 non-null     object
 2   question    87 non-null     object
 3   force_resp  66 non-null     object
 4   type        87 non-null     object
 5   selector    87 non-null     object
dtypes: object(6)
memory usage: 4.2+ KB

In [28]:
df.shape

(87, 6)

In [29]:
# DataFrame basic
person={
    'first':'Corey',
    'last':'Schafer',
    'email': 'dfhdkh@gmail.com'
}

In [30]:
people ={
    'first Name':['Corey',  'Jane', 'John'],
    'last Name':['Schafer', 'Doe', 'Doe'],
    'email': ['corey@gmail.com','jane@gmail.com', 'doe@gmail.com']
}

In [31]:
people['email']

['corey@gmail.com', 'jane@gmail.com', 'doe@gmail.com']

In [32]:
people_data = pd.DataFrame(people)
people_data.index = range(1, len(people_data)+1)
people_data

  first Name last Name            email
1      Corey   Schafer  corey@gmail.com
2       Jane       Doe   jane@gmail.com
3       John       Doe    doe@gmail.com

In [33]:
people_data['email']

1    corey@gmail.com
2     jane@gmail.com
3      doe@gmail.com
Name: email, dtype: object

In [34]:
people_data['first Name']

1    Corey
2     Jane
3     John
Name: first Name, dtype: object

In [35]:
people_data[['first Name', 'email']]

  first Name            email
1      Corey  corey@gmail.com
2       Jane   jane@gmail.com
3       John    doe@gmail.com

In [36]:
type(people_data['email'])

pandas.core.series.Series

In [37]:
people_data.columns

Index(['first Name', 'last Name', 'email'], dtype='object')

In [38]:
people_data.iloc[0]

first Name              Corey
last Name             Schafer
email         corey@gmail.com
Name: 1, dtype: object

In [39]:
people_data.iloc[[0,1]]

  first Name last Name            email
1      Corey   Schafer  corey@gmail.com
2       Jane       Doe   jane@gmail.com

In [40]:
people_data

  first Name last Name            email
1      Corey   Schafer  corey@gmail.com
2       Jane       Doe   jane@gmail.com
3       John       Doe    doe@gmail.com

In [41]:
people_data[['first Name', 'last Name']]

  first Name last Name
1      Corey   Schafer
2       Jane       Doe
3       John       Doe

In [42]:
people_data.columns

Index(['first Name', 'last Name', 'email'], dtype='object')

In [43]:
people_data.iloc[0]

first Name              Corey
last Name             Schafer
email         corey@gmail.com
Name: 1, dtype: object

In [44]:
people_data.iloc[[0,1]]

  first Name last Name            email
1      Corey   Schafer  corey@gmail.com
2       Jane       Doe   jane@gmail.com

In [45]:
people_data.iloc[[0,1], 2]

1    corey@gmail.com
2     jane@gmail.com
Name: email, dtype: object

In [46]:
people_data

  first Name last Name            email
1      Corey   Schafer  corey@gmail.com
2       Jane       Doe   jane@gmail.com
3       John       Doe    doe@gmail.com

In [54]:
people_data.loc[[1,2,3], ['email', 'last Name']]

             email last Name
1  corey@gmail.com   Schafer
2   jane@gmail.com       Doe
3    doe@gmail.com       Doe

In [55]:
people_data.loc[1:2, 'email']

1    corey@gmail.com
2     jane@gmail.com
Name: email, dtype: object

In [56]:
df

,qid,qname,question,force_resp,type,selector
0,QID2,MainBranch,Which of the following options best describes ...,True,MC,SAVR
1,QID127,Age,What is your age?*,True,MC,SAVR
2,QID296,Employment,Which of the following best describes your cur...,True,MC,MAVR
3,QID308,RemoteWork,Which best describes your current work situation?,False,MC,SAVR
4,QID341,Check,Just checking to make sure you are paying atte...,True,MC,SAVR
...,...,...,...,...,...,...
82,QID337,JobSatPoints_7,"Learning and using new technology, including p...",NaN,MC,MAVR
83,QID337,JobSatPoints_8,"Designing and building environments, databases...",NaN,MC,MAVR
84,QID337,JobSatPoints_9,"Being a power user of a tool, developer langua...",NaN,MC,MAVR
85,QID337,JobSatPoints_10,Working with new and/or top-quality hardware,NaN,MC,MAVR
86,QID337,JobSatPoints_11,A well-staffed/sourced internal network that m...,NaN,MC,MAVR

In [57]:
df.loc[0]

qid                                                        QID2
qname                                                MainBranch
question      Which of the following options best describes ...
force_resp                                                 True
type                                                         MC
selector                                                   SAVR
Name: 0, dtype: object

In [58]:
df.shape

(87, 6)

In [59]:
df.columns

Index(['qid', 'qname', 'question', 'force_resp', 'type', 'selector'], dtype='object')

In [65]:
df[['qid','qname', 'question']].head(5)

      qid       qname                                           question
0    QID2  MainBranch  Which of the following options best describes ...
1  QID127         Age                                 What is your age?*
2  QID296  Employment  Which of the following best describes your cur...
3  QID308  RemoteWork  Which best describes your current work situation?
4  QID341       Check  Just checking to make sure you are paying atte...

In [66]:
df['type'].value_counts()

type
MC        68
Matrix    16
TE         1
Slider     1
CS         1
Name: count, dtype: int64

In [67]:
df['type'].value_counts(normalize=True)

type
MC        0.781609
Matrix    0.183908
TE        0.011494
Slider    0.011494
CS        0.011494
Name: proportion, dtype: float64